* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.Header-div {
  text-align: left;
  justify-content: center;
  border-bottom: double;
  padding-left: 10px;
  background-color: lightskyblue;
  height: 50px;
}
